[submodule "themes/indigo"]
	path = themes/indigo
	url = https://github.com/AngeloStavrow/indigo
[submodule "themes/hugo-minimalist-spa"]
	path = themes/hugo-minimalist-spa
	url = https://github.com/Sag-Dev/hugo-minimalist-spa.git
[submodule "themes/archie"]
	path = themes/archie
	url = https://github.com/athul/archie.git
